<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="expo.modules.letropassport">
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.screen.landscape"/>
</manifest>